<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'djangoapp/dealerdetails.css' %}"> -->
    <style>
        * {
            box-sizing: border-box;
            margin:0;
            padding:0;
        }

        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
           }

        .review-container{
            padding:2rem;
        }

        .review-title{
            text-align: center;
        }

        .card-container{
            margin:2rem;
        }

        img {
            width:30px;
            height:30px;
            margin:0.5rem 0 0 1.25rem
        }
    </style>

</head>

    <body>

        <nav class="navbar navbar-light bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand text-light" href="#">Dealership Reviews</a>
                </div>
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="btn btn-link text-light" href="{% url 'djangoapp:about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link text-light" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="btn btn-link text-white" href="#">{{ user.first_name }}({{ user.username }})</a></li>
                        <li class="nav-item"><a class="btn btn-link text-white" href="{% url 'djangoapp:logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="btn btn-link text-white" href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a></li>
                    {% else %}
                        <li class="nav-item">
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" name="username" >
                                    <input type="password" class="form-control" placeholder="Password" name="psw" >
                                    <button class="btn btn-primary" type="submit">Login</button>
                                    <a class="btn btn-link text-white" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                </div>
                            </form>
                            {% if message %}
                                <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
                                    {{ message }}
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    <!-- Add reviews as cards -->

        <div class="review-container">
            <h2 class="review-title">Reviews for <b>{{dealer.full_name}}</b></h2>
            <div class="card-columns card-container">
                {% for review in review_list %}
                    <div class="card">
                        <img class="card-img-left" w-5 src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png">
                        <div class="card-body">
                            <h5 class="card-title">{{review.car_make}}, {{review.car_model}}</h5>
                            <h5 class="card-title">{{review.car_year}}</h5>
                            <p class="card-text">{{review.review}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>